.table-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #4c4c4c;
  transition: background-color 0.3s ease;
}

.follower-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  border: 2px solid #4fffb0;
  flex-shrink: 0;
}
