.table-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #4c4c4c;
  transition: background-color 0.3s ease;
}

.table-row p {
  white-space: nowrap;
}
